body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    column-gap: 1rem;
    min-height: 100vh;
    /* border: 2px solid red; */
    text-align: center;
    background-color: aqua;
    color: rgb(2, 85, 85);
}

.first_section > p {
    margin: 0;
    line-height: 1.5rem;
}

.first_section > a {
    cursor: pointer;
    text-decoration: underline;
}

.second_section {
    margin-top: 1.5rem;
}

img {
    width: 10rem;
    height: 10rem;
    border-radius: 6px;
}